# 1.Difference between the list and tuple?

**Lists**

Mutable: Elements can be added, removed, or modified after creation.

Syntax: Defined using square brackets [].

Operations: Supports a variety of methods like append(), extend(), and remove().

**Tuples**

Immutable: Elements cannot be changed after creation, making tuples immutable.

Syntax: Defined using parentheses ().

Limited Operations: Offers fewer methods compared to lists. Operations are mostly for accessing elements (index(), count()).

In [ ]:
# List example
my_list = [1, 2, 3, 4]
my_list.append(5)
print(my_list)

# Tuple example
my_tuple = (1, 2, 3, 4)
# This will raise an error since tuples are immutable
# my_tuple.append(5)

[1, 2, 3, 4, 5]

2.How list is different from an array

The list is built in data type and mutable which can be changed.

And the array is the part of numpy library which have fixed size they can't be changed.

In [ ]:
# Using a list
my_list = [1, 2, 3, 4]


# Using a NumPy array
import numpy as np
my_array = np.array([1, 2, 3, 4])

3.Use the python list append(),copy(), clear, count, extends(), index(), insert(), pop(), reverse(), sort(), min(), max(),and sum()

In [ ]:
#append
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [ ]:
#copy
original_list = [1, 2, 3]
copied_list = original_list.copy()

In [ ]:
#clear
my_list = [1, 2, 3]
my_list.clear()
print(my_list)

[]

In [ ]:
#count
my_list = [1, 2, 2, 3, 2, 4]
count_of_2 = my_list.count(2)
print(count_of_2)

3

In [ ]:
#extend
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#index
my_list = [1, 2, 3, 2, 4]
index_of_2 = my_list.index(2)
print(index_of_2)

1

In [ ]:
#insert
my_list = [1, 2, 3, 4]
my_list.insert(1, 5)
print(my_list)

[1, 5, 2, 3, 4]

In [ ]:
#pop
my_list = [1, 2, 3, 4]
popped_element = my_list.pop(1)
print(popped_element)

2

In [ ]:
#reverse
my_list = [1, 2, 3, 4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [ ]:
#sort
my_list = [3, 1, 4, 1, 5, 9, 2]
my_list.sort()
print(my_list)

[1, 1, 2, 3, 4, 5, 9]

In [ ]:
#min and max
my_list = [3, 1, 4, 1, 5, 9, 2]
minimum_value = min(my_list)
maximum_value = max(my_list)
print(minimum_value, maximum_value)

1 9

In [ ]:
#sum
my_list = [1, 2, 3, 4]
total_sum = sum(my_list)
print(total_sum)

10

4.How would you divide the list into two parts?

In [ ]:
#here i have used slicing method
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Divide into two parts
mid_point = len(my_list) // 2
first_part = my_list[:mid_point]
second_part = my_list[mid_point:]

print("First part:", first_part)
print("Second part:", second_part)

First part: [1, 2, 3, 4]
Second part: [5, 6, 7, 8, 9]

5.how to filter the multiple of 3 from a given list and them remove the odd number from the new filtered list.

In [ ]:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter multiples of 3
multiples_of_3 = [x for x in original_list if x % 3 == 0]

# Remove odd numbers from the filtered list
filtered_list = [x for x in multiples_of_3 if x % 2 == 0]

print("Original List:", original_list)
print("Filtered List (Multiples of 3):", multiples_of_3)
print("Final Filtered List (Even multiples of 3):", filtered_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered List (Multiples of 3): [3, 6, 9]
Final Filtered List (Even multiples of 3): [6]

6.How you can access keys and values simultaneously and update its value

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

# Accessing keys and values simultaneously
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

# Update the values
for key in my_dict:
    my_dict[key] = my_dict[key] * 2

# Print the updated dictionary
print("Updated Dictionary:", my_dict)

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3
Key: d, Value: 4
Updated Dictionary: {'a': 2, 'b': 4, 'c': 6, 'd': 8}

7.Write python program to join, merge, concatente the two dictionaries..

In [ ]:
# Using union() method
def merge_dicts(dict1, dict2):
    return dict1 | dict2

# Example
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged_dict = merge_dicts(dict1, dict2)
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 3, 'c': 4}

8.How would you check a specific keys from the dictionary??

In [ ]:
#using key word "in"
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Check if a specific key exists
key_to_check = 'b'
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary with value: {my_dict[key_to_check]}")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'b' exists in the dictionary with value: 2

9.write a python program to find the unique vowel present in the sentence

In [31]:
def unique_vowels(sentence):
    return list(set(sentence.lower()) & set("aeiou"))

# Example usage:
input_sentence = input("Enter a sentence: ")
result = unique_vowels(input_sentence)

print("Unique vowels in the sentence:", result)

Enter a sentence: sam
Unique vowels in the sentence: ['a']

10.We know that tuple is immutable, do any thing and add element to the tuples.

In [ ]:
#You can create a new tuple by concatenating two or more tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate tuples
new_tuple = tuple1 + tuple2
print(new_tuple)

(1, 2, 3, 4, 5, 6)

11.How would you sum the list of tuple and sum of tuple of list
ist = [(2,3),(4,5),(6,4)] output= [5,9,10]

tuple =([2,3],[4,5],[6,4]) output = (5,9,10)

In [ ]:
#sum of tuples in a list
tuple_list = [(2, 3), (4, 5), (6, 4)]

# Sum the elements of tuples within the list
sum_result = [sum(t) for t in tuple_list]

print("Sum of tuples in the list:", sum_result)

Sum of tuples in the list: [5, 9, 10]

In [ ]:
#sum of lists in a tuple
list_tuple = ([2, 3], [4, 5], [6, 4])

# Sum the elements of lists within the tuple
sum_result = tuple(sum(sublist) for sublist in list_tuple)

print("Sum of lists in the tuple:", sum_result)

Sum of lists in the tuple: (5, 9, 10)

12.FIND THE FREQUENCY OF THE KEYS IN THE GIVEN DICTIONARY

In [ ]:
dict = {'a': 1, 'b': 2, 'c': 2, 'd': 3, 'e': 2, 'f': 4}

frequencies = {}
for value in dict.values():
    if value in frequencies:
        frequencies[value] += 1
    else:
         frequencies[value] = 1

for value, frequency in frequencies.items():
    print(f"The frequency of value {value} is: {frequency}")

The frequency of value 1 is: 1
The frequency of value 2 is: 3
The frequency of value 3 is: 1
The frequency of value 4 is: 1